$bg-color: #0A0A0A;
$nav-links-color: #FFF;
$btn-primary-bgcolor: #EE642A;
$fontFam: 'Bebas Neue', sans-serif;
$carousel-bg-color: #f5f5f5;
$carousel-border-color: #ddd;
$testimonial-text-color: #0c0c0c;